<!DOCTYPE html>
<html lang="ja">

<head>
    <title>LEDcontrol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="panel-heading">Animation</div>
    <div class="container act" id="/anim/">
        <button class="btn btn-default" name="101">On</button>
        <button class="btn btn-default" name="102">Off</button>
        <button class="btn btn-default" name="103">Blink</button>
        <button class="btn btn-default" name="104">Blink (alternating)</button>
        <button class="btn btn-default" name="105">Sparkle</button>
        <button class="btn btn-default" name="106">Sparkle 2</button>
        <button class="btn btn-default" name="107">Strobo</button>
        <button class="btn btn-default" name="151">CycleColors</button>
        <button class="btn btn-default" name="305">Plasma</button>

        <button class="btn btn-default" name="211">Pixel Smooth Shift Right</button>
        <button class="btn btn-default" name="212">Pixel Smooth Shift Left</button>
        <button class="btn btn-default" name="213">Pixel Smooth Bounce</button>
        <button class="btn btn-default" name="221">Comet</button>
        <button class="btn btn-default" name="222">Comet (colored)</button>
        <button class="btn btn-default" name="241">Moving Bars</button>
        <button class="btn btn-default" name="242">Moving Gradient</button>
        <button class="btn btn-default" name="251">Larson Scanner</button>
        <button class="btn btn-default" name="252">Larson Scanner 2</button>

        <button class="btn btn-default" name="301">FadeIn</button>
        <button class="btn btn-default" name="302">FadeOut</button>
        <button class="btn btn-default" name="303">FadeInOut</button>
        <button class="btn btn-default" name="304">Glow</button>
        <button class="btn btn-default" name="351">Fade Colors</button>
        <button class="btn btn-default" name="352">Fade Colors (loop)</button>
        <button class="btn btn-default" name="353">Pixels Fade</button>
        <button class="btn btn-default" name="501">Fire</button>
        <button class="btn btn-default" name="502">Bouncing Balls</button>
        <button class="btn btn-default" name="503">Bubbles</button>
    </div>

    <div class="panel-heading">Brightness</div>


    <div class="container act" id="/brightness/">
        <button class="btn btn-default" name="8">20%</button>
        <button class="btn btn-default" name="16">40%</button>
        <button class="btn btn-default" name="32">60%</button>
        <button class="btn btn-default" name="64">80%</button>
        <button class="btn btn-default" name="100">100%</button>
    </div>



    <div class="panel-heading">Duration</div>
    <div class="container act" id="/duration/">
        <!--
            <div class="input-group">
                <input type="text" name="duration" class="form-control" placeholder="Duration">
                <span class="input-group-btn">
                    <button class="btn btn-default" >Set</button>
                </span>
            </div>
            -->

        <button class="btn btn-default" name="10">10</button>
        <button class="btn btn-default" name="20">20</button>
        <button class="btn btn-default" name="30">30</button>
        <button class="btn btn-default" name="40">40</button>
        <button class="btn btn-default" name="50">50</button>
        <button class="btn btn-default" name="100">100</button>
        <button class="btn btn-default" name="500">500</button>
        <button class="btn btn-default" name="1000">1000</button>
        <button class="btn btn-default" name="1500">1500</button>
        <button class="btn btn-default" name="2000">2000</button>
        <button class="btn btn-default" name="2500">2500</button>
        <button class="btn btn-default" name="3000">3000</button>
        <button class="btn btn-default" name="4000">4000</button>
    </div>



    <div class="panel panel-default">
        <div class="panel-heading">Color</div>
        <div class="panel-body">
            <div class="container act" id="/color/">
                <button class="btn btn-default" name="88CCFF">Cool White</button>
                <button class="btn btn-default" name="DDDDDD">Natural White</button>
                <button class="btn btn-default" name="FFCC88">Warm White</button>
                <button class="btn btn-default" name="FF0000">Red</button>
                <button class="btn btn-default" name="FFD700">Gold</button>
                <button class="btn btn-default" name="FFA500">Orange</button>
                <button class="btn btn-default" name="DC143C">Crimson</button>
                <button class="btn btn-default" name="FF00FF">Magenta</button>
                <button class="btn btn-default" name="EE82EE">Violet</button>
                <button class="btn btn-default" name="800080">Purple</button>
                <button class="btn btn-default" name="0000FF">Blue</button>
                <button class="btn btn-default" name="00FFFF">Cyan</button>
                <button class="btn btn-default" name="008080">Teal</button>
                <button class="btn btn-default" name="40E0D0">Turquoise</button>
                <button class="btn btn-default" name="00FF00">Green</button>
                <button class="btn btn-default" name="FFFF00">Yellow</button>
            </div>
        </div>
    </div>
    <div class="panel-heading">Palette</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 btn-group act" id="/palette/" role="group">
                <button class="btn btn-default" name="0">Null</button>
                <button class="btn btn-default" name="1">RGB</button>
                <button class="btn btn-default" name="2">Rainbow</button>
                <button class="btn btn-default" name="3">Party</button>
                <button class="btn btn-default" name="4">Heat</button>
                <button class="btn btn-default" name="5">Fire</button>
                <button class="btn btn-default" name="6">Cool</button>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/sendcmd.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>